{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section id="blog" class="container">
        <a class="btn btn-dark" style="margin-bottom: 20px" href="{% url 'blogs' %}">Go Back</a>
        <h1 class="post-title">{{ blog.title }}</h1>
        <p class="post-date">{{ blog.uploaded_at|date:'M. d, Y' }}</p>
        <div class="post-thumbnail">
            <img src="{{ blog.thumbnail.url }}">
        </div>
        <div class="post-content">
            {{ blog.content|safe }}
        </div>
    </section>
{% endblock content %}