/* Global */

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Uitl */

.corner {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    border: 1px solid #00CB84;
}

.cr-tl {
    top: -5px;
    left: -5px;
}

.cr-tr {
    right: -5px;
    top: -5px;
}

.cr-br {
    bottom: -5px;
    right: -5px;
}

.cr-bl {
    bottom: -5px;
    left: -5px;
}

/* NavBar */

.nav-header {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.6rem;
    background-color: #00CB84;
    color: #C9F0DD;
}

.nav-header-title {
    padding: 0;
    font-size: 1.7rem;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.nav-header div {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.nav-header nav {
    display: flex;
    justify-content: center;
    width: 300px;
    align-items: center;
}

.nav-header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.nav-header-item {
    margin: 5%;
    list-style: none;
    padding-bottom: 2px;
    cursor: pointer;
    color: #C9F0DD;
    border-bottom: none;
    border-bottom: #00CB84 2px solid;
    transition: color 0.5s, border-bottom 0.5s;
}

.nav-header-item:hover {
    color: white;
    border-bottom: white 2px solid;
}

.nav-header-item-active {
    margin: 5%;
    list-style: none;
    border-bottom: white 2px solid;
    padding-bottom: 2px;
    cursor: pointer;
    color: white;
}

.nav-header-item a, .nav-header-item-active a {
    text-decoration: none;
}

.nav-header-item a {
    color: #C9F0DD;
}

.nav-header-item-active a {
    color: white;
}


@media (max-width: 760px) {
    .nav-header  div {
        flex-direction: column;
    }

    .nav-header-title {
        padding: 1.5rem;
    }
}

/* Home Page */

#home-front {
    padding: 7rem;
    display: flex;
    justify-content: space-between;
}

#home-front .profile-image {
    width: 250px;
    height: 250px;
    border: 1px solid #00CB84;
}

.preview-shadow {
    background-color: #DBDBDB;
    height: 200px;
    width: 350px;
    position: relative;
}

.preview {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 200px;
    width: 350px;
    background-color: white;
    border: 1px solid #00CB84;
    padding: 1rem;
}

.preview-shadow h3 {
    margin: 20px 0;
}

@media (max-width:1000px) {
    #home-front {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}

@media (max-width: 430px) {
    .preview-shadow, .preview {
        width: 150px;
        height: 300px
    }
}

/* About Me */

#about-me {
    background-color: #EDF2F7;
    margin-bottom: 20px;
}

.about-me-desc {
    padding: 4rem;
    padding-bottom: 0;
}

.about-me-desc h4 {
    border-top: solid 3px #00CB84;
    width: 170px;
    text-align: center;
    padding: 1rem;
    margin: 0;
    margin-bottom: 40px;
    font-size: 1.7rem;
}

.about-me-desc p {
    color: #4a5568;
    font-weight: 500;
    font-size: 1.3rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.skills h5 {
    text-align: center;
    font-size: 2.3rem;
    border-bottom: solid 3px #00CB84;
    width: 160px;
    padding: 1.6rem;
    margin-bottom: 50px;
}

.skill {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    width: 9rem;
    height: 10rem;
    border-radius: 10px;
    margin: 2rem auto;
}

@media (max-width: 700px) {
    .about-me-desc h4 {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Featured Projects */

#featured-projects {
    padding: 2rem 0;
}

#featured-projects h4 {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 5px;
}

#featured-projects > p {
    text-align: center;
    color: #4a5568;
    font-size: 1.25rem;
    padding: 1rem;
    margin-bottom: 0px;
}

#featured-projects .row {
    max-width: 1000px;
    margin: 2rem auto;
}

.project-card {
    width: 300px;
    margin: 2rem auto;
    min-height: 400px;
}

.project-card .card-body {
    background-color: #edf2f7;
}

.project-card h6 {
    font-size: 0.7rem;
    color: #4a5568;
}

.project-card p {
    font-size: 0.9rem !important;
    text-align: start !important;
    color: #4a5568;
}

.project-card a {
    margin-top: auto;
}

/* Contact Me */

#contact-me {
    background-color: #edf2f7;
    padding: 5rem 0;
}

#contact-me h4 {
    text-align: center;
    font-size: 1.875rem;
}

#contact-me p {
    text-align: center;
    color: #4a5568;
    font-size: 1.25rem;
    margin-bottom: 60px;
}

#contact-me form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.form-full {
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit-container button {
    padding: 0.5rem 1rem;
}

/* Projects Page */

.heading {
    text-align: center;
    padding: 5rem 0;
}

.heading .title {
    font-size: 1.875rem;
}

.heading .subtitle {
    color: #4a5568;
}

/* Footer */

footer {
    background-color: #DBDBDB;
}

footer h6, footer p {
    margin: 0;
}

footer div {
    display: flex;
    padding: 0.9rem;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    gap: 10px;
    color: gray;
}

.footer-left h6 {
    color: black;
    font-size: 1.4rem;
}

.footer-left p {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.footer-left a {
    text-decoration: none;
    color: gray;
}

.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
}

.social-links li {
    list-style: none;
}

.social-links a {
    text-decoration: none;
    color: black;
}

@media (max-width: 770px) {
    footer div {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
    }

    .footer-left {
        gap: 20px;
    }
}

@media (max-width: 325px) {
    .footer-left p {
        display: flex;
        flex-direction: column;
    }
}