/* Global */

body {
    background-color: #F1f1f1;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.alert {
    margin-bottom: 0 !important;
}

/* Uitl */

.corner {
    width: 10px;
    height: 10px;
    background-color: #3c3d35;
    position: absolute;
    border: 1px solid #00CB84;
}

.cr-tl {
    top: -5px;
    left: -5px;
}

.cr-tr {
    right: -5px;
    top: -5px;
}

.cr-br {
    bottom: -5px;
    right: -5px;
}

.cr-bl {
    bottom: -5px;
    left: -5px;
}

/* NavBar */

.nav-header {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.6rem;
    background-color: #00CB84;
    color: #C9F0DD;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    position: relative;
}

.nav-header-title {
    padding: 0;
    font-size: 1.7rem;
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.nav-header div {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.nav-header nav {
    display: flex;
    justify-content: center;
    width: 300px;
    align-items: center;
}

.nav-header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.nav-header-item {
    margin: 5%;
    list-style: none;
    padding-bottom: 2px;
    cursor: pointer;
    color: white;
    border-bottom: none;
    border-bottom: #00CB84 2px solid;
    transition: color 0.5s, border-bottom 0.5s;
}

.nav-header-item:hover {
    border-bottom: white 2px solid;
}

.nav-header-item-active {
    margin: 5%;
    list-style: none;
    border-bottom: white 2px solid;
    padding-bottom: 2px;
    cursor: pointer;
}

.nav-header-item a, .nav-header-item-active a {
    text-decoration: none;
}

.nav-header-item a {
    color: white;
}

.nav-header-item-active a {
    color: white;
}


@media (max-width: 760px) {
    .nav-header  div {
        flex-direction: column;
    }

    .nav-header-title {
        padding: 1.5rem;
    }
}

/* Home Page */

#home-front {
    background-color: #272823;
}

#home-front > div {
    padding: 7rem 0rem;
    display: flex;
    justify-content: center;
    gap: 15rem;
}

#home-front .profile-image {
    width: 250px;
    height: 250px;
    border: 1px solid #00CB84;
    box-shadow: 0px 4px 6px 2px;
}

.preview-shadow {
    background-color: #3c3d35;
    height: 200px;
    width: 350px;
    position: relative;
}

.preview {
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
    height: 200px;
    width: 350px;
    background-color: #272823;
    border: 1px solid #00CB84;
    padding: 1rem;
}

.preview-shadow h3 {
    margin: 20px 0;
}

.preview-shadow p {
    color: #DBDBDB;
    font-size: 1.3rem;
}

@media (max-width:1000px) {
    #home-front > div {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}

@media (max-width: 430px) {
    .preview-shadow, .preview {
        width: 150px;
        height: 300px
    }
}

/* About Me */

#about-me {
    background-color: #3c3d35;
    color: white;
}

.about-me-desc {
    padding: 5rem;
    padding-bottom: 0;
    color: white;
}

.about-me-desc h4 {
    border-top: solid 3px #00CB84;
    width: 170px;
    text-align: center;
    padding: 1rem;
    margin: 0;
    margin-bottom: 40px;
    font-size: 1.7rem;
}

.about-me-desc p {
    color: #DBDBDB;
    font-weight: 500;
    font-size: 1.3rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.skills h5 {
    text-align: center;
    font-size: 2.3rem;
    border-bottom: solid 3px #00CB84;
    width: 160px;
    padding: 1.6rem;
    margin-bottom: 50px;
}

.skill {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 2rem;
    text-align: center;
    width: 9rem;
    height: 10rem;
    border-radius: 3px;
    margin: 2rem auto;
    background-color: #494a43;
    color: #DBDBDB;
}

@media (max-width: 700px) {
    .about-me-desc h4 {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Featured Projects */

#featured-projects {
    padding: 4rem 0;
    background-color: #f1f1f1;
}

#featured-projects h4 {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 5px;
}

#featured-projects > p {
    text-align: center;
    color: #4a5568;
    font-size: 1.25rem;
    padding: 1rem;
    margin-bottom: 0px;
}

#featured-projects .row {
    max-width: 1000px;
    margin: 2rem auto;
}

.project-card {
    width: 300px;
    margin: 2rem auto;
    min-height: 400px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.project-card .card-body {
    background-color: white;
}

.project-card h6 {
    font-size: 0.7rem;
    color: #4a5568;
    padding-top: 0.5rem;
}

.project-card p {
    font-size: 0.9rem !important;
    text-align: start !important;
    color: #4a5568;
    padding-top: 0.7rem;
}

.project-card a {
    margin-top: auto;
}

/* Contact Me */

#contact-me {
    background-color:#272823;
    padding: 5rem 0;
}

#contact-me h4 {
    text-align: center;
    font-size: 1.875rem;
    color: white;
}

#contact-me p {
    text-align: center;
    color: #B6B6B6;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#contact-me form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}
#contact-me .form-control {
    background-color: #3c3d35;
    border-color: black;
    color: white;
}

#contact-me .form-control:focus {
    background-color: #3c3d35;
    border-color: black;
    color: white;
}

#contact-me .form-control:-webkit-autofill,
#contact-me .form-control:-webkit-autofill:hover,
#contact-me .form-control:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px #3c3d35 inset;
    -webkit-box-shadow: 0 0 0px 1000px #3c3d35 inset;
    -webkit-text-fill-color: white;
}

.form-full {
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit-container button {
    padding: 0.5rem 1rem;
}

/* Projects Page */

#projects {
    padding-bottom: 30px;
}

.heading {
    text-align: center;
    padding: 5rem 0;
}

.heading .title {
    font-size: 1.875rem;
}

.heading .subtitle {
    color: #4a5568;
    font-size: 1.3rem;
}

/* Blog Page */

#blogs {
    padding: 1rem 0;
    margin-bottom: 50px;
    min-height: 80vh;
}

.blog-container {
    display: flex;
    margin: 2rem auto;
    max-width: 1000px;
}

.blog-thumbnail img {
    width: 300px;
    padding: 1rem;
}

.blog-info {
    padding: 1rem;
}

.blog-title a {
    text-decoration: none;
    color: black;
}

.blog-date {
    padding: 1rem 0;
}

#blog {
    max-width: 1000px;
    margin: 4rem auto;
}

.post-date {
    font-weight: 500;
    font-size: 1.3rem;
}

.post-content {
    padding: 3rem;
    font-size: 1.2rem;
}

.post-content * {
    margin-bottom: 1.1rem;
    max-width: 100%;
}

.post-content table {
    display: block;
    font-size: 1rem;
    overflow-x:auto;
}

.post-content img {
    max-width: 100% !important;
    display: block;
}

.post-content pre {
    background-color: #19121A;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.post-content th, .post-content td {
    border: 1px solid #e1e4e5;
    padding: 10px;
}

.post-content table {
    max-height: 200px;
}

.no-posts {
    margin-top: 7rem;
    height: 10vh;
    text-align: center;
}

.no-posts-msg {
    text-align: center;
}

.page-nav {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 800px) {
    .blog-container {
        flex-direction: column;
    }

    .blog-thumbnail img {
        width: 100%;
    }

    .blog-title {
        font-size: 1.3rem;
    }

    .post-content {
        font-size: 1rem;
    }
}

/* Footer */

footer {
    background-color: #3c3d35;
}

footer h6, footer p {
    margin: 0;
    color: #B6B6B6;
}

footer div {
    display: flex;
    padding: 0.9rem;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    gap: 10px;
    color: gray;
}

.footer-left h6 {
    color: white;
    font-size: 1.4rem;
}

.footer-left p {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.footer-left a {
    text-decoration: none;
    color: #B6B6B6;
}

.social-links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: center;
}

.social-links li {
    list-style: none;
}

.social-links a {
    text-decoration: none;
    color: #B6B6B6;
}

@media (max-width: 770px) {
    footer div {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
    }

    .footer-left {
        gap: 20px;
    }
}

@media (max-width: 325px) {
    .footer-left p {
        display: flex;
        flex-direction: column;
    }
}