{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section id="home-front" class="container">
        <div class="profile-image">
            <img src="{% static 'base/img/profilepic.jpg' %}">
        </div>
        <div class="what-i-do">
            <div class="preview-shadow">
                <div class="preview">
                    <div class="cr-tl corner">
                    </div>
                    <div class="cr-tr corner">
                    </div>
                    <div class="cr-bl corner">
                    </div>
                    <div class="cr-br corner">
                    </div>
                    <h3>What I Do</h3>
                    <p>
                        I'm a Full Stack Web Developer. Besides Web Apps I also make Automation Scripts.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="about-me">
        <div class="about-me-desc container">
            <h4>About Me</h4>
            <p>
                I found my passion of coding when I was In School
                and now I'm a Developer.
            </p>
            <p>
                I love learning new technologies (Frameworks, Libraries).
                While I keep busy learning new stuffs and making projects,
                I sometime take freelance projects than interest me.
            </p>
        </div>
        <div class="skills container">
            <h5>Skills</h5>
            <div class="row">
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>ReactJS</p>
                        <div class="skill-icon">
                            <i class="fab fa-react spec" style="color: rgb(93, 209, 247); font-size: 4rem;"></i>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>NodeJS</p>
                        <div class="skill-icon">
                            <i class="fab fa-node-js" style="color: #00CB84; font-size: 4rem;"></i>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>MongoDB</p>
                        <div class="skill-icon">
                            <svg width="26" height="49"><g transform="scale(2)"><path d="M11.71 10.41C10.31 4.33 7.39 2.71 6.65 1.57 6.34 1.06 6.07 0.54 5.84 0 5.8 0.54 5.73 0.88 5.26 1.29 4.32 2.11 0.35 5.3 0.01 12.21 -0.3 18.65 4.82 22.62 5.5 23.03 6.02 23.28 6.65 23.03 6.96 22.8 9.43 21.13 12.8 16.69 11.71 10.41" fill="#10AA50"></path><path d="M5.95 19.5C5.82 21.08 5.72 22 5.38 22.9 5.38 22.9 5.61 24.41 5.76 26L6.32 26C6.45 24.88 6.65 23.76 6.92 22.66 6.21 22.33 5.98 20.89 5.95 19.5Z" fill="#B8C4C2"></path><path d="M7.03 22.75L7.03 22.75C6.34 22.43 6.14 20.94 6.11 19.55 6.28 17.25 6.33 14.95 6.26 12.64 6.22 11.44 6.28 1.46 5.96 0 6.18 0.49 6.43 0.97 6.7 1.44 7.44 2.59 10.33 4.21 11.71 10.32 12.79 16.61 9.47 21.06 7.03 22.75Z" fill="#12924F"></path></g></svg>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>Python</p>
                        <div class="skill-icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/768px-Python-logo-notext.svg.png" style="height:70px;object-fit:contain">
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>Django</p>
                        <div class="skill-icon">
                            <img src="https://seeklogo.com/images/D/django-logo-F46C1DD95E-seeklogo.com.png" style="height:70px;object-fit:contain">
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>PostgreSQL</p>
                        <div class="skill-icon">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" style="height:70px;object-fit:contain">
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>Git/GitHub</p>
                        <div class="skill-icon">
                            <i class="fab fa-github" style="color: #212529; font-size: 4rem;"></i>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3">
                    <div class="skill">
                        <p>Linux</p>
                        <div class="skill-icon">
                            <i class="fab fa-linux" style="color: #212529; font-size: 4rem;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="featured-projects" class="conatiner">
        <h4>Featured Projects</h4>
        <p>Here are my some of best projects</p>
        <div class="row">
            {% for project in featured_projects %}
                <div class="col col-lg-4 col-md-6">
                    <div class="card project-card">
                        <img class="card-img-top" src="{{ project.preview.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <h6>{{ project.tech_stack }}</h6>
                            <p class="card-text">
                                {{ project.desc }}
                            </p>
                            <a href="{{ project.github_link }}" target="_blank" class="btn btn-primary btn-sm">Github</a>
                            <a href="{{ project.live_link }}" target="_blank" class="btn btn-primary btn-sm">Live</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="contact-me">
        <div class="container">
            <h4>Contact Me</h4>
            <p>Send me a message if you want to discuss a project !</p>
            <form action="" method="POST">
            {% csrf_token %}
                <div class="form-full">
                    {{ contact_form.non_field_errors }}
                    {% if contact_form.email.errors %}
                        <ul>
                        {% for error in contact_form.email.errors %}
                            <li>
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ contact_form.name }}
                </div>
                <div class="form-group">
                    {{ contact_form.email }}
                </div>
                <div class="form-group form-full">
                    {{ contact_form.subject }}
                </div>
                <div class="form-group form-full">
                    {{ contact_form.message }}
                </div>
                <div class="form-full submit-container">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
        
    </section>
{% endblock content %}